.Note {
  border-radius: 0.5em;
  background-color: white;
  width: 600px;
  height: 800px;
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.1);
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: bisque;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
}

.TextArea__wrapper {
  position: relative;
  display: flex;
}

.TextArea {
  border: 1px dashed #dfdede;
  background-color: transparent;
  font-size: 14px;
  resize: none;
}

.TextArea__resize-handler {
  position: absolute;
  right: -6px;
  bottom: -6px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: nwse-resize;
  transform: rotate(45deg);
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: brown;
}

.ElementControls {
  position: absolute;
  right: 0;
  top: -0.5em;
  transform: translate(0, -100%);
  display: flex;
  gap: 0.5em;
}

.ElementWrapper {
  position: absolute;
  top: calc(var(--element-y) * 1px);
  left: calc(var(--element-x) * 1px);
}

.ElementWrapper .ElementControls {
  visibility: hidden;
}

.ElementWrapper:focus-within {
  z-index: 10;
}

.ElementWrapper:focus-within .ElementControls {
  visibility: visible;
  animation: 0.1s ease-in fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(-100%);
  }
}

.RoundIcon {
  display: grid;
  place-items: center;
  width: 2em;
  height: 2em;
  background-color: white;
  border: none;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.RoundIcon:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.NoteTitle__title,
.NoteTitle__input {
  text-align: center;
  margin: 0;
  font-size: 1.8em;
  font-weight: normal;
  font-family: inherit;
  width: 20em;
}

.NoteTitle__input {
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.NoteTitle__comment {
  color: gray;
}
